<h2 class="toast-title">­ЪЇъ сЃѕсЃ╝сѓ╣сЃѕсЃгсѓисЃћсѓњтЁЦтіЏ ­ЪЇъ</h2>
<%= form_with model:@recipe, local: true do |f| %>
<%= render 'shared/error', model: f.object %>
<div class=toast-post>
  <div class=post-img>
    ТіЋуе┐ућ╗тЃЈ
    <span class="indispensable">т┐Ёжаѕ</span>
    <%= f.file_field :image, id:"recipe-image" %>
  </div>
  <div class="toast-name">
  сЃѕсЃ╝сѓ╣сЃѕтљЇ
  <span class="indispensable">т┐Ёжаѕ</span>
  <%= f.text_area :name, placeholder:"сЃѕсЃ╝сѓ╣сЃѕтљЇ(т┐Ёжаѕ 40ТќЄтГЌсЂЙсЂД)", maxlength:"40" %>
  </div>
  <div class="toast-type">
  жБЪсЃЉсЃ│сЂ«уе«жАъ
  <span class="indispensable">т┐Ёжаѕ</span>
  <%= f.text_area :bread, placeholder:"жБЪсЃЉсЃ│сЂ«уе«жАъ(т┐Ёжаѕ 40ТќЄтГЌсЂЙсЂД)", maxlength:"№╝ћ0" %>
  </div>
  <div class="toast-num">
  ТъџтѕЄсѓі
  <span class="indispensable">т┐Ёжаѕ</span>
  <%= f.collection_select(:breadtype_id, Breadtype.all, :id, :name, {}, {class:"select-box",id:"recipe-breadtype"}) %>
  </div>
  <div class="toast-material">
  ТЮљТќЎ
  <span class="indispensable">т┐Ёжаѕ</span>
  <%= f.text_area :material, placeholder:"ТЮљТќЎ" %>
  </div>
  <div class="toast-recipe">
  сѓбсЃгсЃ│сѓИсЃгсѓисЃћ
  <span class="indispensable">т┐Ёжаѕ</span>
  <%= f.text_area :recipe, placeholder:"recipe(СЙІ"%>
  </div>
  <div class="toast-calorie">
  сѓФсЃГсЃфсЃ╝
  <%= f.text_area :calorie %> kcal
  </div>
  <%= f.submit " ТіЋуе┐РЎА" , class:"sell-btn" %>
  <% end %>
</div>
